.mainPage {
  height: 90vh;
  width: 90vw;
  background: #fff4e5a0;
  overflow: scroll;
  margin: auto;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.mainLogo {
  padding: 0.5rem;
  width: 100%;
}
.mapWrapper {
  width: 90%;
  margin: 0 auto;
}
.mainSubtitle {
  text-align: center;
  font-size: 3rem;
}
.mainText {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
}

.mainText > *:nth-child(even) {
  padding: 4.4rem 0;
}


@media screen and (min-width: 1200px) {
  .mainPage {
    max-width: 1200px;
  }
  .mainLogo {
    padding: 0 6rem;
  }
}
@media screen and (max-width: 460px) {
  .mainSubtitle {
    font-size: 1.4rem;
  }
  .mainText {
    font-size: 1.8rem;
    font-weight: 400;
  }
  .mainText > *:nth-child(even) {
    padding: 2rem 0;
  }
}
